* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf

*.cpp text
*.hpp text
*.h text
*.c text
*.cmake text
CMakeLists.txt text
*.md text
*.cfg text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ico binary
*.wav binary
*.ogg binary
*.mp3 binary
*.ttf binary
*.otf binary

